{% extends 'auctions/layout.html' %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block body %}
  <h1>Comments to <a href= "{% url 'item_detail' item_detail.id %}">{{ item_detail.title }}</a></h1>
  
  

      

  <form action="{% url 'comments' listning_id %}" method="POST">
    {% csrf_token %}
    <div>{{ comments_form|crispy }}</div>
    <input type="submit" value="Create Comment" class="btn btn-primary">
  </form>
  
  <div>Back to <a href="{% url 'index' %} ">Active Listings</a></div>
{% endblock %}